PORT=3000

MONGODB_URI=

DEFAULT_COINS=100

DAILY_REWARD=500
DAILY_COOLDOWN=86400

WORK_MIN_REWARD=100
WORK_MAX_REWARD=500
WORK_COOLDOWN=3600

BEG_MIN_REWARD=50
BEG_MAX_REWARD=250
BEG_COOLDOWN=300

FISH_COOLDOWN=60

META_VERIFY_TOKEN=